@import './base.css';

html {
    scroll-behavior: smooth;
}

#web_logo {
    width: 100%;
}

.scroller::-webkit-scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-track {
    background: white;
}

.scroller::-webkit-scrollbar-thumb {
    background: #7f7f7f;
    border-right: 1px solid white;
}

/*Scrollbar Size*/
::-webkit-scrollbar {
    width: 12px;
}

/*Scrollbar - Background Color*/
::-webkit-scrollbar-track {
    background: #F4EBDB;
}

/*Scrollbar - Color*/
::-webkit-scrollbar-thumb {
    background: #2C4A52;
}

/*Scrollbar - Hover Color*/
::-webkit-scrollbar-thumb:hover {
    background: #537072;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.progress {
    height: 1.5rem !important;
}