@tailwind base;

@layer base {
    h1 {
      @apply text-4xl font-medium;
    }
    h2 {
      @apply text-3xl font-medium;
    }
    h3 {
      @apply text-2xl font-medium;
    }
    h4 {
      @apply text-xl font-medium;
    }
    h5 {
      @apply text-lg font-medium;
    }
  }

@tailwind components;
@tailwind utilities;

/*Scrollbar Size*/
::-webkit-scrollbar {
    width: 12px;
}

/*Scrollbar - Background Color*/
::-webkit-scrollbar-track {
    background: #F4EBDB;
}

/*Scrollbar - Color*/
::-webkit-scrollbar-thumb {
    background: #2C4A52;
}

/*Scrollbar - Hover Color*/
::-webkit-scrollbar-thumb:hover {
    background: #537072;
}